* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #fffdf7;
}

header {
   background-color: #1b5e20;
    
}

